@charset "utf-8"; /* Es recomendable escrivir el conjunto de caracteres en el css para evitar errores */
.section_inner{
    padding: 50px 10% 30px;
}
.key{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    background: center / cover no-repeat url(../img/sample_key.jpg);
    font-family: 'Noto Serif JP', serif;
    font-weight: bold;
}
.key h1{
    font-size: 2.5rem;
}
.section_title{
    font-family: 'Noto Serif JP', serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}
.conteniner_concept{
    display: flex;
    justify-content: space-between;
}
.conteniner_concept p {
    width: 60%;
}
.conteniner_concept img{
    width: 35%;
}


/* Estilos de la Barra de Navegacio */
.header_nav{
   
    background: linear-gradient(90deg, #fff 20%, rgba(0, 0, 0, 0.6) 60%);
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: stretch;

    position: fixed;
    top: 0;
    width: 100%;
}
.global_nav{
    display: flex;
    align-items: stretch;
}
.global_nav_item{
    color: #fff;
    text-decoration: none;
    display: flex; /* Si un Elemento enline contiene a un elemento enblok el elemento enblok pirde sus propiedades de lemento enblok */
    align-items: center;
    padding: 0 20px;
}
.global_nav_item:hover{
    background-color: #fff;
    color: #42210b;
}
.logo{
    display: flex;
    align-items: center;
    width: 120px;
}
.logo img{
    height: 100%;
}